.vase:hover
  animation: myframes 2s ease-in-out 0s infinite alternate
@keyframes myframes
   0%
     transform: rotate(5deg)

   70%
     transform: rotate(3deg) 

   70%
     transform: rotate(-3deg)    
    
   70%
     transform: rotate(-5deg) 


.ted:hover
  animation: newframes 2s ease-in-out 0s infinite alternate
@keyframes newframes
   50%
     transform: translate(-100px, 0px)





.horse:hover
  animation: new1frames 2s ease-in-out 0s infinite alternate
@keyframes new1frames
   0%
     transform: rotate(15deg)

   100%
     transform: rotate(-15deg)



.info
  font-size: 70px
  color: white
  font-family: BD Cartoon Shout
  text-align: center


