.vase:hover
  animation: myframes 2s ease-in-out 0s infinite alternate
@keyframes myframes
   0%
     transform: rotate(5deg)

   70%
     transform: rotate(3deg) 

   70%
     transform: rotate(-3deg)    
    
   70%
     transform: rotate(-5deg) 


