@font-face
  src: url(fonts/BD_Cartoon_Shout.ttf)
  font-family: BD Cartoon Shout

body
  background-color: black
  cursor: pointer



.scene-container
  position: absolute
  height: 755px
  width: 1536px
  background-color: black
 
  
  
 
.object-container
  position: absolute
  color: white

  
 







	




   
